*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    height: 100px;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
}
nav{
    padding: 0px 40px;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
}
#logo{
    height: 50px;
    margin-right: 40px; ;
}
#navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#p1 div:hover{
    color: #006241;
    cursor: pointer;
}
#p1 div a{
    color: black;
    text-decoration: none; 
}
#p1 div a:hover{
    color: #006241;
}
#p2:hover{
    color: #006241;
    cursor: pointer;

} 
#p1{
    width: 272px;
    display: flex;
    justify-content: space-between;
}
#p2{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#p2 i{
    margin-right: 10px;
    font-size: 20px;
}
#sign{
    background-color: white;
    padding: 7px 16px;
    border-radius: 20px;
    border: 0.5px solid black;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
}
#join{
    background-color: black;
    color: white;
    padding: 7px 16px;
    border-radius: 20px;
    border: 0.5px solid white;
    font-size: 14px;
    font-weight: 600;
}
.section{
    margin-top: 32px;
    display: flex;
    text-align: center;
    box-sizing: border-box;
}
.section img{
    width: 50%;
}
.section span{
    font-size: 50px;
}
.section div{
    font-size: 24px;
}
.section p{
    font-size: 19px;
}
.text{
    width: 100%;
}
#s1{
    background-color: #d4e9e2;
}
#s2{
    background-color: #ad96dc;
}
#s3{
    background-color: #006241;
    color: white;
}
#s4{
    background-color: #006241;
    color: white;
}
#s5{
    background-color: #76232f;
    color: white;
}
#i2 div{
    font-weight: 600;
}
#i4 div{
    font-weight: 600;
}
.intext{
    margin: 32px 48px;
    padding: 0px 48px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    height: 88%;
}
.b1{
    background:none;
    padding: 7px 16px;
    border-radius: 20px;
    border: 0.5px solid black;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 600;
}
.b2{
    background:none;
    color: white;
    padding: 7px 16px;
    border-radius: 20px;
    border: 0.5px solid white;
    font-size: 16px;
    font-weight: 600;
}
#f1{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    justify-content:  center!important;
}
#f1 a{
    color: black;
}
#f1 a:hover{
    text-decoration: none;
}
#f1 div{
    padding: 32px 290px;
    margin: 32px 0px;
    margin-block-end: auto;
}
#f1{
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
}
#f2{
    padding: 24px 40px;
    list-style: none;
}
#f2 h2{
    margin-bottom: 24px;
    font-size: 19px;
}
#f2 ul{
    padding: 8px 0px;
    margin-bottom: 8px;
    font-size: 16px;
    color: #00000094;
    font-weight: 400;
}
#f2 ul:hover{
    cursor: pointer;
color: #000;}
#col{
    display: flex;
}
#col div{ 
    width: 190px;
    margin-right: 32px;
}
#social-icon{
    color: black;
    font-size: 32px;
}
#social-icon i{
    padding-left: 10px;
}
#footer-end{
    padding: 16px 0px;
    font-size: 14px;
    color: #00000094;    
}
#footer-ls{
    display: flex;
}
#footer-ls div{
    padding: 0px 24px;
}